@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

<table>
    @if (Model.Customers.Count == 0)
    {
        <text>No customers yet.</text>
    }
    else
    {
        <tr>
            <th>Nome</th>
        </tr>
        foreach (var customer in Model.Customers)
        {

            <tr>

                <td>@customer.Name</td>

            </tr>
        }
    }

</table>
